.containerSatu {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.foto-home {
  width: 600px;
}

.containerSatu > h1 {
  width: 350px;
  font-size: 50px;
  text-transform: capitalize;
}

.containerDua {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
}

.pilihanPembayaran {
  border: 2px;
  background-color: #fcd770;
  width: 250px;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
}

.pilihanPembayaran:hover {
  transform: scale(1.1);
}

.containerPilihanPembayaran {
  text-transform: capitalize;
}

.kategori-foto {
  width: 100px;
  margin-top: 30px;
}

/* responsive tablet */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .containerSatu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }

  .foto-home {
    width: 400px;
  }

  .containerSatu > h1 {
    width: 350px;
    font-size: 30px;
    text-transform: capitalize;
  }

  .containerDua {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }

  .pilihanPembayaran {
    border: 2px;
    background-color: #fcd770;
    width: 150px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: black;
  }

  .pilihanPembayaran:hover {
    transform: scale(1.1);
  }

  .containerPilihanPembayaran {
    text-transform: capitalize;
    font-size: 10px;
  }

  .kategori-foto {
    width: 50px;
    margin-top: 30px;
  }
}

/* Responsive HP */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .containerSatu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }

  .foto-home {
    width: 200px;
  }

  .containerSatu > h1 {
    width: 350px;
    font-size: 20px;
    text-transform: capitalize;
  }

  .containerDua {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
  }

  .pilihanPembayaran {
    border: 2px;
    background-color: #fcd770;
    width: 150px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: black;
  }

  .pilihanPembayaran:hover {
    transform: scale(1.1);
  }

  .containerPilihanPembayaran {
    text-transform: capitalize;
    font-size: 10px;
  }

  .kategori-foto {
    width: 50px;
    margin-top: 30px;
  }
}
