.detailContainerBack {
  padding: 10px 0px 20px 20px;
}

.detailContainerBackJudul {
  font-size: 18px;
}

.containerTampilanNama {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.judulDetailKategori > input {
  width: 700px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 10px;
  font-weight: bold;
}

.judulDetailKategori > h2 {
  text-transform: capitalize;
  font-size: 30px;
  margin: 0px;
}

.statusKategoriUpdate {
  width: 720px;
  height: 40px;
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
}

#deskripsiKategori {
  width: 720px;
}

.btnDetailKategori {
  display: flex;
  gap: 20px;
  margin-left: 510px;
  cursor: pointer;
}

.DetailKategoriCtaEdit {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.DetailKategoriCtaCancel{
  width: 100px;
  height: 50px;
  border: 2px solid black;
  background-color: transparent;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.DetailKategoriCtaEdit:hover {
  background-color: #f7a300;
  color: white;
}

.DetailKategoriCtaCancel:hover {
  background-color: #B32B2B;
  color: white;
}

.DetailKategoriBottom {
  margin-bottom: 150px;
}

/* responsive tablet */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .detailContainerBack {
    padding: 10px 0px 20px 20px;
  }

  .detailContainerBackJudul {
    font-size: 18px;
  }

  .containerTampilanNama {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .najudulDetailKategorima > input {
    width: 400px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .judulDetailKategori > h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin: 15px 0px 5px 0px;
  }

  .statusKategoriUpdate {
    width: 720px;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
  }

  #deskripsiKategori {
    width: 720px;
  }

  .btnDetailKategori {
    display: flex;
    gap: 20px;
    margin-left: 200px;
    cursor: pointer;
  }

  .btnDetailKategori {
    display: flex;
    gap: 20px;
    margin-left: 510px;
    cursor: pointer;
  }
  
  .DetailKategoriCtaEdit {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  .DetailKategoriCtaCancel{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  .DetailKategoriCtaEdit:hover {
    background-color: #f7a300;
    color: white;
  }
  
  .DetailKategoriCtaCancel:hover {
    background-color: #B32B2B;
    color: white;
  }

  .DetailKategoriBottom {
    margin-bottom: 50px;
  }
}

/* Responsive HP */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .detailContainerBack {
    padding: 10px 0px 20px 10px;
  }

  .detailContainerBackJudul {
    font-size: 15px;
  }

  .containerTampilanNama {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .judulDetailKategori > input {
    width: 300px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
  }

  .judulDetailKategori > h2 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 10px 0px 5px 0px;
  }

  .statusKategoriUpdate {
    width: 310px;
    height: 40px;
    font-size: 18px;
    padding-left: 5px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  #deskripsiKategori {
    width: 310px;
  }

  .btnDetailKategori {
    display: flex;
    gap: 20px;
    margin-left: 230px;
    cursor: pointer;
  }

  .btnDetailKategori {
    display: flex;
    gap: 20px;
    margin-left: 110px;
    cursor: pointer;
  }
  
  .DetailKategoriCtaEdit {
    width: 80px;
    height: 30px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  .DetailKategoriCtaCancel{
    width: 80px;
    height: 30px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
  
  .DetailKategoriCtaEdit:hover {
    background-color: #f7a300;
    color: white;
  }
  
  .DetailKategoriCtaCancel:hover {
    background-color: #B32B2B;
    color: white;
  }

  .DetailKategoriBottom {
    margin-bottom: 150px;
  }
}
