.DetailPengeluaranContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 0px 0px 100px; */
}

.DetailPengeluaranTitle{
    margin: 10px 0px 10px 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.inputTitle{
    width: 500px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;     
    cursor: pointer;
}

.DetailPengeluaranDeskripsi{
    margin: 50px 0px 10px 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

#deskripsiPengeluaran{
    border: 2px solid black;
}

.DetailPengeluaranNominal{
    margin: 50px 0px 10px 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.DetailPengeluaranDate{
    margin: 50px 0px 10px 0px;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.DetailPengeluaranBtn{
    gap: 30px;
    margin: 30px 0px 0px 0px ;
    display: flex;
    margin-left: 660px;
    cursor: pointer;
}

.tambahkanPengeluaran{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.hapusPengeluaran{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.tambahkanPengeluaran:hover{
    background-color: #F7A300;
    color: white;
}

.hapusPengeluaran:hover{
    background-color: #ED2B2A;
    color: white;
}

/* responsive tablet */
@media screen and (min-width: 500px) and (max-width: 1024px) {
    .DetailPengeluaranBtn{
        gap: 30px;
        margin: 30px 0px 0px 0px ;
        display: flex;
        margin-left: 445px;
        cursor: pointer;
    }
    
    .tambahkanPengeluaran{
        width: 100px;
        height: 50px;
        border: 2px solid black;
        background-color: transparent;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    
    .hapusPengeluaran{
        width: 100px;
        height: 50px;
        border: 2px solid black;
        background-color: transparent;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    
    .tambahkanPengeluaran:hover{
        background-color: #F7A300;
        color: white;
    }
    
    .hapusPengeluaran:hover{
        background-color: #ED2B2A;
        color: white;
    }
}

/* Responsive HP */
@media screen and (min-width: 320px) and (max-width: 500px) {
    .DetailPengeluaranContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .DetailPengeluaranTitle{
        margin: 10px 0px 10px 0px;
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .inputTitle{
        width: 350px;
        height: 40px;
        font-size: 15px;
        font-weight: 700;
        padding-left: 10px;
        border: 2px solid black;
        border-radius: 10px;     
    }
    
    .DetailPengeluaranDeskripsi{
        margin: 50px 0px 10px 0px;
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
    }

    #deskripsiPengeluaran{
        width: 350px;
        height: 100px;
        border: 2px solid black;
    }
    
    .DetailPengeluaranNominal{
        margin: 50px 0px 10px 0px;
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .DetailPengeluaranDate{
        margin: 50px 0px 10px 0px;
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    .DetailPengeluaranBtn{
        gap: 30px;
        margin: 30px 0px 0px 0px ;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    
    .tambahkanPengeluaran{
        width: 100px;
        height: 50px;
        border: 2px solid black;
        background-color: transparent;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    
    .hapusPengeluaran{
        width: 100px;
        height: 50px;
        border: 2px solid black;
        background-color: transparent;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    
    .tambahkanPengeluaran:hover{
        background-color: #F7A300;
        color: white;
    }
    
    .hapusPengeluaran:hover{
        background-color: #ED2B2A;
        color: white;
    }
}